* {
  font-family: 'Oxygen', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.panels {
  display: flex;
  height: 100vh;
  align-items: stretch;
}

.panel {
  flex: 1;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all cubic-bezier(0.1,-0.09, 0.6, 0.91) 0.7s;
}

.panel > * {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
}

.panel1 {
  background-image: url(assets/asia.jpg);
}

.panel2 {
  background-image: url(assets/africa.jpg);
}

.panel3 {
  background-image: url(assets/north-america.jpg);
}

.panel4 {
  background-image: url(assets/south-america.jpg);
}

.panel5 {
  background-image: url(assets/antarctica.jpg);
}

.panel6 {
  background-image: url(assets/europe.jpg);
}

.panel7 {
  background-image: url(assets/oceania.jpg);
}

.panel > *:first-child {
  transform: translateY(-100%);
}

.panel > *:last-child {
  transform: translateY(100%);
}

p {
  text-align: center;
  font-size: 1.5rem;
}

.open-panel {
  flex: 5;
}

.open-panel.open-active > p:first-child {
  transform: translateY(0);
}

.open-panel.open-active > p:last-child {
  transform: translateY(0);
}